<span id= "dimension-<%= tab_index %>" class="dimension"  >
  <%= link_to dimension_tabs_path(:tab_index => tab_index ), remote: true, method: :post, data: { disable_with: "Loading..." }  do %>
    <span class="glyphicon glyphicon-random"></span>
  <% end %>          
</span> 
 