<div class="show">
  <h1>All Sheets You Have</h1>
  <p>click the sheet title to expand the block and name the col/row by the XML tag you would like to use</p>
  <ul class="nav nav-pills nav-justified" role="tablist">
    <% session["tabs"].each do |tab| %>
      <li id = tab-<%= tab[:index]%> role="presentation" >
        <%= link_to tags_path(:index => tab[:index]), remote: true, method: :post  do %>
          <div class="sheet-block">
            <h3><%='Sheet ' +  "#{tab[:index] + 1}" + ' : ' + tab[:name] %></h3>
          </div>
        <% end %>         
      </li>
    <% end %>
  </ul>
</div>