<div class="show">
  <h1>All Sheets You Have</h1>
  <div class="instruction">
    <p>HOW TO USE - Step 2</p>
    <p>Click the sheet title to expand the block.</p>
    <p>If you would like to change the way to read the data</p>
  </div>
  <p>click the sheet title to expand the block and name the col/row by the XML tag you would like to use</p>
  <ul class="nav nav-tabs"  ">
    <% session["tabs"].each do |tab| %>
      <li id = tab-<%= tab[:index]%>>
        <%= link_to tags_path(:index => tab[:index]), remote: true, method: :post, data: { disable_with: "Loading..." }  do %>
          <h3><%='Sheet ' +  "#{tab[:index] + 1}" + ' : ' + tab[:name] %></h3>
        <% end %>             
      </li>
    <% end %>
  </ul>
</div>
