<a href="#table-<%= tab_index %>" aria-controls="table-<%= tab_index %>" role="tab" data-toggle="tab">
  <div class="sheet-block">
    <h3><%='Sheet ' +  "#{tab_index.to_i + 1}" + ' : ' + session["tabs"][tab_index.to_i]["name"] %></h3>
  </div>
</a>  

