<%= link_to hide_tabs_path(:tab_index => tab_index), remote: true,  method: :post  do %>
  <div class="sheet-block">
    <h3><%='Sheet ' +  "#{tab_index.to_i + 1}" + ' : ' + session["tabs"][tab_index.to_i]["name"] %></h3>
  </div>
<% end %>