<%= link_to hide_tabs_path(:tab_index => tab_index), remote: true,  method: :post, data: { disable_with: "Loading..." }  do %>
    <p><%='Sheet ' +  "#{tab_index.to_i + 1}" + ' : ' + session["tabs"][tab_index.to_i]["name"] %></p>
<% end %>
 