 <table class="table table-hover" id = "table-<%= tab_index %>" >
  <thead>
    <tr>
      <th>
        <% if session["tabs"][tab_index.to_i]["dimension"] == "ROWS" %>
          Column
        <% else %>
          Row
        <% end %>
      </th>
      <th>Data Type</th>
      <th id="xml-<%= tab_index %>">XML tag</th>
      <th></th>
    </tr>    
  </thead>
  <tbody>
    <% @columns.each do |column| %>
      <tr class="col-<%= column[:index] %>">
        <%= render(:partial => "tags/row", :locals => {:column => column}) %>
      </tr>
    <% end %>
  </tbody>
   
 
 </table>