body {
  background-color: #f9f9f9;
  margin: 0;
}

* {
  box-sizing: border-box;
}


a, a:hover, a:focus {
  text-decoration: none;
  color: #323237;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.remind{
  font-size: 15px;
  letter-spacing: 2px;
  background-color: rgba(192, 192, 192, 0.4);
  position: fixed;
  display: block;
  top: 15px;
  right: 0;
  left: 0;
  width: 35%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  z-index: 100;
}

div.alert{
  color: #fff;
  font-weight: 900;
}

div.notice{
  color: #fff;
  font-weight: 900;
}

img{
  margin-bottom: 30px;
}

.type-id{
  width: 100vw;
  text-align: center;
  
}

.instruction{
  width: 80%;
  margin: 30px auto;
  background-color: rgba(51, 57, 71, 0.3);
  color: #333947;
  border-radius: 15px;
  padding: 20px;
  text-align: left;
  font-size: 20px;
}

.instruction p:nth-child(1){
  font-size: 30px;
  color: #efefef;
  font-weight: 900;
}

.instruction span{
  background-color: #efefef;
  border-radius: 5px;
  padding: 1px;
}

.type-id > form > .form-group{
  margin: 0;
  display: inline-block;
  width: 30%;
}

.type-id > form > .form-group input{
  width:100%;
  padding: 3.5%;
  font-size: 30px;
  outline: none;
  border-radius: 30px 0 0 30px;
  border: 2px solid #000;
}

::placeholder{
  color: #adadad;
}

.type-id > form > input{
  width: 15%;
  padding: 1%;
  font-size: 30px;
  border-radius: 0 30px 30px 0;
  border: 2px solid #000;
  display: inline-block;
}

.after-rendering{
  width: 40%;
  display: inline-block;
  text-align: left;
}

.after-rendering li{
  font-size: 25px;
  color: #6c6c6c;
}

.show{
  margin-top: 7%;
}

.show > h1, .js > h1{
  text-align: center;
  
}

.show > p{
  text-align: center;
  font-size: 20px;
  margin-bottom: 4%;
}

.show > div > a, .js >div > a, .js > div > button{
  border: 2px solid #323237;
  padding: 15px 30px;
  font-size: 17px;
  border-radius: 30px;
  margin: 0 auto;
}

.pdf-btn{
  margin-top: 6%;
}

.sheet-block{
  width: 60%;
  margin: auto;
  margin-bottom: 2%;
  border: 2px solid #323237;
  border-radius: 30px;
  padding: 10px 5%;
}

.sheet-block h3{
  margin-bottom: 4%;
  display: inline;
  cursor: pointer;
}

.sheet-block th{
  text-align: center;
  font-size: 16px;
}

.sheet-block > .table > thead > tr > th, .sheet-block > .table > thead > tr > td, .sheet-block > .table > tbody > tr > th, .sheet-block > .table > tbody > tr > td, .table > tfoot > tr > th, .sheet-block > .table > tfoot > tr > td{
  border-top: none;
}

.sheet-block th:nth-child(4), .sheet-block td:nth-child(4){
  width: 45%;
}

.sheet-block input:nth-child(1){
  background-color: transparent !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #323237;
}

.ok-btn{
  border: 2px solid #323237;
  border-radius: 15px;
  padding: 5px 20px;
}

.delete-btn{
  border: 2px solid #008080;
  border-radius: 15px;
  padding: 8px 20px;
  background-color: #008080;
  color: #fff;
}

.delete-btn:hover{
  color: #fff;
}

.js{
  margin-top: 15%;
}

.js-pack{
  margin: auto;
  margin-bottom: 5%;
  width: 60%;
  border: 1px solid #323237;
  border-radius: 30px;
  padding: 2%;
  background-color: #fff;
}

#js-pack > p{
  display: inline;
}