<nav><img src="logo.png"></nav>
 
<div id="spreadsheet" class="type-id">
  <div class="instruction">
    <p>HOW TO USE - Step 1</p>
    <p>Please enter the string between <span>"https://docs.google.com/spreadsheets/d/"</span> and <span>"/edit#gid=0"</span> in your spreadsheet URL.</p>
  </div>
  
  <%= form_for :spreadsheet, :url => tabs_path, remote: true  do |form|  %>
    <div class="form-group">
      <%= form.text_field :spreadsheet_url, autofocus: true, placeholder: 'Which spreadsheet?' %>
    </div>
    <%= form.submit "NEXT"  %>
  <% end  %>  
</div>
 
<div id="tabs"></div>
<div id="tags">
  <div id="tags-btn">
    
  </div>
</div>
<%= link_to "JS", js_spreadsheets_path, remote: true %>
<div id="js">
  
</div>
 