<nav><img src="logo.png"></nav>
 
<div id="spreadsheet" class="type-id">
  <div class="instruction">
    <p>HOW TO USE - Step 1</p>
    <p>Please enter the string between <span>"https://docs.google.com/spreadsheets/d/"</span> and <span>"/edit#gid=0"</span> in your spreadsheet URL.</p>
  </div>

 
  <%= form_for :spreadsheet, :url => tabs_path, remote: true  do |form|  %>
    <div class="form-group">
      <%= form.text_field :spreadsheet_url, autofocus: true, placeholder: "Which spreadsheet ?", required: true, pattern: "[A-Za-z0-9_]{44}", title: "請輸入有效的 Google Spreadsheet Id" %>
    </div>
    <%= form.submit "NEXT" ,  data: { disable_with: "Loading..." } %>
  <% end  %>  
</div>
 
<div id="tabs">
  <div id="sheet-title"></div>
  <div id="tags">
    <div id="dimension-btn"></div>
    <div id="tags-btn"></div>
  </div>
</div>

<div id="js"></div>
 