 
<div id="spreadsheet"  >
 
  <%= form_for :spreadsheet, :url => tabs_path, remote: true  do |form|  %>
    <div class="form-group">
      <%= form.text_field :spreadsheet_url, autofocus: true, placeholder: "Which spreadsheet ?" %>
    </div>
    <%= form.submit "NEXT" ,  data: { disable_with: "Loading..." } %>
  <% end  %>  
</div>
 
<div id="tabs">
  
</div>
<div id="tags">
  <div id="dimension-btn"></div>
  <div id="tags-btn">
    
  </div>
</div>



<div id="js">
  
</div>
 