 
<div id="spreadsheet" class="type-id">
  <a href="/"><img src="1.png"></a>
  <%= form_for :spreadsheet, :url => tabs_path, remote: true  do |form|  %>
    <div class="form-group">
      <%= form.text_field :spreadsheet_url, autofocus: true, placeholder: "Which spreadsheet ?" %>
    </div>
    <%= form.submit "NEXT"  %>
  <% end  %>  
</div>
 
<div id="tabs"></div>
<div id="tags" >
  <div id="tags-btn">
    
  </div>
</div>
<%= link_to "JS", js_spreadsheets_path, remote: true %>
<dir id="js">
  
</dir>
 