<table>
  <th>
    <tr>
      <th>Column name</th>
      <th>Range</th>
      <th>Data type</th>
      <th>XML tag</th>
    </tr>
  </th>
  <tbody>
    <% @output_arr.each do |tag| %>
      <tr>
        <td><%= tag.col %></td>
        <td><%= tag.col_range %></td>
        <td><%= tag.category_id %></td>
        <td><%= tag.name %></td>
        <td>
    <% end %>      
  </tbody>
</table>