<table>
  <th>
    <tr>
      <th>Column name</th>
      <th>Range</th>
      <th>Data type</th>
      <th>XML tag</th>
    </tr>
  </th>
  <tbody>
    <% @col_name_arr.each_with_index do |column, index| %>
      <tr>
        <td><%= column %></td>
        <td><%= @col_range_arr[index] %></td>
        <td><%= Category.find(@category_arr[index]).name %></td> 
        <td><%= @xml_name_arr[index] %></td>
        <td>
    <% end %>      
  </tbody>
</table>